@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
   background-color: rgb(34, 32, 32);
   
   
}

*::selection {
  background: #da2b3f;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
  background: #ee0606;
}


/* navbar starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: auto;
  background-color: #0000006c;
  box-shadow: 0 1px 4px rgba(128, 0, 255, 0.3);
  margin-bottom: 2%;
}
section {
  min-height: fit-content;
  padding: 2rem 9%;
}
.heading {
  font-size: 3.5rem;
  color: rgb(246, 246, 246);
  font-weight: 800;
  text-align: center;
}
.heading span {
  /* color: yellow; */
}
header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
}
header .logo i {
  font-size: 2.2rem;
}
header .logo:hover {
  color: #fc8c05;
}
header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #0720ff;
  border-bottom: 0.2rem solid #011aff;
  padding: 0.5rem 0;
}
/* navbar ends */

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}
@media (max-width: 1000px) {
  #menu {
    display: block !important;
    margin-right: 100px;
  }
  #menu i{
    color: white !important;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f3188;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #011aff;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}
/* hamburger icon ends */

/* hero section starts*/
.home2 {
  position: relative;
 
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background-size:cover ;
  background-repeat: no-repeat;
 background-attachment: fixed;
}


.home2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home2 .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}
.home2 .image {
  flex: 1 1 40rem;
  z-index: 1;
}
.home2 .image img {
  width: 70%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home2 .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.home2 .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #ffffff;
}
.home2 .content h2 span {
  font-size: 5rem;
  font-weight: 800;
  color: #ff7b00;
}
.home2 .content p {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 600;
  padding: 1rem 0;
}
.home2 .content p span {
  font-size: 2.5rem;
  color: #ffea00;
  font-weight: 600;
  padding: 1rem 0;
}
.home2 .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.home2 .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.home2 .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.home2 .btn:hover {
  background: #1a047e;
}
.home2 .btn:hover i {
  transform: translateX(5px);
}
/* social icons start */
.socials {
  position: relative;
  margin-top: 9rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}
.social-icons a.github:hover {
  background-color: #0e0e0e;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dev:hover {
  background-color: #070707;
}

/* social icons end */

/* hero media queries starts*/
@media (max-width: 450px) {
  .home22 .btn {
    margin: 4rem 0;
  }
  .socials {
    margin-top: 12rem;
  }
  .home22 .image img {
    margin-top: -12rem;
  }
  .home22 .content p {
    font-size: 2.2rem;
  }
  .home22 .content p span {
    font-size: 2.2rem;
  }
}
/* hero media queries ends*/
/* hero section end */

/* about section starts */
.about2 {
  /* background: rgba(255, 255, 255, 0); */
 
    background-size:cover ;
  background-repeat: no-repeat;
 background-attachment: fixed;
}
.about2 .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}
.about2 .row .image {
  text-align: center;
  flex: 1 1 35rem;
}
.about2 .row .image img {
  margin: 4rem;
  width: 30rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  cursor: pointer;
}
.about2 .row .image img:hover {
  mix-blend-mode: normal;
}
.about2 .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}
.about2 .row .content h3 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}
.about2 .row .content .tag {
  font-size: 1.4rem;
  color: #f3f3f3;
  font-weight: 600;
  margin-top: 1rem;
}
.about2 .row .content p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
}
.about2 .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}
.about2 .row .content .box-container .box p {
  text-transform: none;
  color: white;
}
.about2 .row .content .box-container .box p span {
  color: #ecedf1;
}
.resumebtn {
  margin-top: 6rem;
}
.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
#user-detail-intro{
  color: white;
  font-size: 17px;
}
.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}
.resumebtn .btn:hover {
  background: #1a047e;
}
.resumebtn .btn:hover i {
  transform: translateX(5px);
}
/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about2 .row .image {
    margin-top: 2rem;
  }
  .about2 .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .about2 .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about2 .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}
/* about media queries ends*/
/* about section ends */

/* skills section starts */
.skills2 {
  min-height: 90vh;
    background-size:cover ;
  background-repeat: no-repeat;
 background-attachment: fixed;
}
.skills2 h2 {
  color: #fff;
}
.skills2 .heading span {
  /* color: rgb(255, 230, 0); */
}
.skills2 .container {
  background: rgba(0, 0, 0, 0.652);
  color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
.skills2 .container .row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  gap: 1.8rem;
}
.skills2 .container .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* background: rgba(0, 0, 22, 0.9); */
  transition: 0.2s;
}
.skills2 .container .bar:hover {
  box-shadow: 0 8px 10px rgba(1, 9, 255, 0.8) !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
  cursor: pointer;
}
.skills2 .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.skills2 .container .bar .info i {
  font-size: 4rem;
}
.skills2 .container .bar .info span {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins";
  margin-left: 0.5rem;
}
/* skills media queries starts*/
   @media only screen and ( max-width : 620px) and ( min-width : 10px) {
  .skills2 .container {
    padding: 0;
    margin: 0;
  }
  .skills2 .container .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills2 .container {
    margin-top: 5px;
    width: 100%;
  }


}
   @media only screen and ( max-width : 800px) and ( min-width : 620px){
  .skills2 .container {
    padding: 0;
    margin: 0;
  }
  .skills2 .container .row {
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills2 .container {
    margin-top: 5px;
    width: 100%;
  }
}
   @media only screen and ( max-width : 1000px) and ( min-width : 800px){
  .skills2 .container {
    padding: 0;
    margin: 0;
  }
  .skills-card-name{

    font-size: 19px !important;
  }
  .skills2 .container .row {
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
}
@media only screen and ( max-width : 300px){

    .skills-card-name{

    font-size: 12px !important;
  }

}

/* skills media queries ends*/
/* skills section ends */

/* work section starts */

.work {
  /* background: #010124; */
  /* background: linear-gradient(to bottom, #000031, #00002c); */
  color: white !important;
 
    background-size:cover ;
  background-repeat: no-repeat;
 background-attachment: fixed;
}
.work h2 {
  color: #fff;
  padding: 1rem;
}
.work .heading span {
  /* color: rgb(255, 230, 0); */
}
.work .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 3rem;
  border-radius: 50px;
}
.work .box-container .box {
  flex: 100rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  height: 35rem;
 display: grid;
  grid-template-columns: 45% 55%;
 background-color: #00000091;
 border-radius: 50px;
 padding: 2%;
}
.work .box-container .box #projectimage {
  width: 97%;
  height: 97%;
  border-radius: 20px;
}
.work .box-container .box .content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 85%;
  left: 0;
  background: rgba(0, 0, 0, 0.884);
  display: flex;
  flex-direction: column;
}

.work .box-container .box .tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  padding-left: 1rem;
  background: #ffffff;
  color:rgb(0, 0, 0)!important;
  border-radius: 10px;
}
.work .box-container .box  .tag h3 {
  font-size: 2rem;
  text-align: center;
}

.work .desc {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work .desc p {
  font-size: 1.4rem;
  word-spacing: 5px;
}
.work .desc .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}
.work .desc .btns .btn {
  line-height: 0;
  display: inline;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  color: #fff;
  background: rgb(12, 12, 12);
  margin-right: 2rem;
}
.work .desc .btns .btn:hover {
  background: #310ae0f5;
}

#tech2{
  width: 50%;
  margin: auto;
display: flex;
  justify-content: center;
  align-items: center;
}
#tech2 img{
  width: 100% !important;
  margin: auto;
  text-align: center;
  align-items: center;
  margin-top: 30px;
}
/* *********************** */






/* Media query for screen width up to 620px */

@media only screen and (max-width: 480px) {


.work h3{
font-size: 12px !important;
}  


.project-description{
  background-color: rgba(39, 45, 39, 0.313);
  font-size: 10px !important;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}
.work .box-container .box {
 display: grid;
 grid-template-columns: repeat(1,1fr);
 height: fit-content;
 border-radius: 5%;
 padding: 5%;
 overflow: scroll;
}

.project-deployed-link i{
 display: none;
}

.project-github-link i{

  display: none;
}


}


.work .box-container .box::-webkit-scrollbar {
  display: none !important;  /* Hide the scrollbar */
}

@media only screen and (min-width: 481px) and (max-width: 767px){


.work h3{
font-size: 12px !important;
}  


.project-description{
  background-color: rgba(39, 45, 39, 0.313);
  font-size: 10px !important;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}
.work .box-container .box {
 display: grid;
 grid-template-columns: repeat(1,1fr);
 height: fit-content;
 border-radius: 5%;
 padding: 5%;
}

.project-deployed-link i{
 display: none;
}

.project-github-link i{

  display: none;
}

}


   @media (min-width: 768px)  and ( max-width : 1200px){
.work .box-container .box {
 display: grid;
 grid-template-columns: repeat(1,1fr);
 height: fit-content;
 border-radius: 5%;
 padding: 5%;
}

}


/* work section ends */

#gitSection{
 
    background-size:cover ;
  background-repeat: no-repeat;
 background-attachment: fixed;
 height: fit-content;
}



/* contact section starts */
.contact2 {
  /* background: #19191aa9; */
 
    background-size:cover ;
  background-repeat: no-repeat;
 background-attachment: fixed;
  min-height: 60vh;
}
.contact2 .container {
  max-width: 1050px;
  width: 100%;
  border-radius: 1.5rem;
  margin: 2rem 5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact2 .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.contact2 .content .image-box {
  max-width: 60%;
  margin-left: 4rem;
}
.contact2 .content .image-box img {
  width: 100%;
  height: 40rem;
  position: relative;
}
.contact2 .content form {
  width: 45%;
  margin-right: 3.5rem;
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}
.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid rgb(115, 3, 167);
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: rgb(115, 3, 167);
}
form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}
form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}
.button-area button:hover {
  background: #421cecf5;
}
.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}
.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}
.button-area button:hover i {
  left: 8px;
}
/* contact section media queries starts */
@media (max-width: 900px) {
  .contact2 {
    min-height: 70vh;
  }
  .contact2 .container {
    margin: 3rem 0 2rem 0;
  }
  .contact2 .container .content {
    padding: 18px 12px;
  }
  .contact2 .content .image-box {
    display: none;
  }
  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }

  .form-group{
    width: 200%;

  }

}
/* contact section media queries ends */
/* contact section ends */

/* footer section starts */
.footer {
  min-height: auto;
  padding-top: 0;
  /* background: rgb(0, 1, 43); */
  background: #000000a5;
 
    background-size:cover ;
  background-repeat: no-repeat;
 background-attachment: fixed;
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: #ffae00;
}
.footer .box-container .box a {
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #ffae00;
}
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}
.footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #ffae00;
}
.footer .credit {
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: 0.1rem solid #fff3;
}
.footer .credit a {
  color: #ffae00;
}
.footer .fa {
  color: #e90606;
  margin: 0 0.3rem;
  font-size: 1.5rem;
  animation: pound 0.35s infinite alternate;
}
@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }
  .footer .box-container .box p {
    padding: 0.7rem;
  }
  .footer .box-container .box .share a {
    padding: 1.2rem;
  }
  #contactatlast p{
    font-size: 11px !important;
  }


}
/* footer section ends */

/* common media queries starts*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  body {
    padding-right: 0;
  }
  section {
    padding: 2rem;
  }
}
/* common media queries ends*/

/* scroll top starts */
#scroll-top {
  position: fixed;
  top: -140%;
  right: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background: #ffae00;
  color: rgb(13, 0, 44);
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
}
#scroll-top.active {
  top: calc(100% - 12rem);
}
/* scroll top ends */
#gitSection{
  margin-top: -40px !important;
}
  #heading-git{
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #calendwer{
      display: none;
  visibility: hidden;
    background-color :white;
    padding: 30px 10px;
    border-radius: 40px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
   margin: 20px 0;
   width: fit-content !important;
  }

  #contri{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);

  }

#contri2 img{
  width: 35%;
  margin-top: 20px;
}



  @media only screen and ( max-width : 620px) and ( min-width : 10px) {

#calendwer {
    display: none;
  visibility: hidden;
}

#contri{
  grid-template-columns: 1fr;

}

#contri img{
  width: 40%;

}
#contri2 img{
  width: 40%;
  
}

  #heading-git{
    font-size: 15px;
  }

  #gitSection{
    height: fit-content;
    padding: 0;
  }

}
   @media only screen and ( max-width : 800px) and ( min-width : 620px){
    #calendwer{
  display: none;
  visibility: hidden;

}
#contri{
  grid-template-columns: 1fr;
}
  #heading-git{
    font-size: 15px;
  }
#ddd{
  padding-left: 0px;
  }
#contri img{
  grid-template-columns: 1fr;
}
#contri2 img{
  width: auto;
  
}


}
   @media only screen and ( max-width : 1300px) and ( min-width : 800px){

#contri{
  grid-template-columns: 1fr;
}
  #heading-git{
    font-size: 15px;
  }
  #contri2 img{
  width: auto;
  
}

  #heading-git{
    font-size: 15px;
  }



   }
#resume-button-1{
    background-color: transparent;
    padding: 0;
    margin: 0;
}
